$font-stack: Helvetica, sans-serif;

// Color Variables
$color-text-primary:   rgba(0, 0, 0, 0.90);
$color-text-secondary: rgba(0, 0, 0, 0.60);
$color-text-tertiary:  rgba(0, 0, 0, 0.30);

$color-background: #ECF0F1;
$color-divider:    darken($color-background, 6%);
$color-white:      #FFFFFF;
$color-primary:    #3498DB;
$color-success:    #2ECC71;
$color-warning:    #E67E22;
$color-danger:     #E74C3C;

$color-brand:      #2C3E50;

// Spacing
$spacing-small: 6px;
$spacing-medium: 12px;
$spacing-large: 18px;
$spacing-huge: 2 * $spacing-large;

// Type
$font-primary: 'Roboto', sans-serif;
$font-swivel: 'Nunito', sans-serif;
$font-school: 'Roboto', sans-serif;

$font-size-huge: 1.4em;
$font-size-large: 1.2em;
$font-size-small: .8em;
$font-size-tiny: .6em;

$font-weight-bold: 600;
$font-weight-light: 300;

// Media Query Breakpoints
$media-breakpoint-small: 544px;
$media-breakpoint-medium: 768px;
$media-breakpoint-large: 992px;
$media-breakpoint-extra-large: 1200px;
