.about {
  padding-top: 50px;
}

.team-member-img-container {
  text-align: center;
  margin: 0px;
}

.team-member-img-container-img {
  border-radius: 999px;
  max-width: 50%;
  margin: $spacing-xlarge;
}

.team-member-info-container {
  text-align: center;
}

.team-member-info-container-name {
  font-size: $font-size-huge;
}

.team-member-card-info {
  text-align: center;
}

.team-header {
  margin-top: $spacing-xxlarge;
  text-align: center;
}

.about-us-header {
  text-align: center;
}
