.doughnut-container {
  margin: $spacing-medium 0;
}

.doughnut-container-info {
  margin: $spacing-medium 0;
  text-align: center;
}

.doughnut-container-info-title {
  font-weight: $font-weight-bold;
}

.doughnut-container-info-description {
  color: $color-text-secondary;
  font-size: $font-size-small;
}
