.doughnut-container {
  margin: $spacing-medium 0;
}

.doughnut-container-info {
  margin: $spacing-medium 0;
  text-align: center;
}

.doughnut-container-info-title {
  font-weight: $font-weight-bold;
}

.doughnut-container-info-description {
  color: $color-text-secondary;
  font-size: $font-size-small;
}

.bar-container {
  width: 100%; 
  margin: 20px 0px; 
}

.bar-chart {
  display: inline-block;
}

canvas {
  max-width: 850px;
  max-height: 450px
}