.chat-container {
  padding: 0 $spacing-small $spacing-small $spacing-small;
}

.chat-container-back-button {
  margin: $spacing-medium 0 !important;
  padding: $spacing-medium 0 !important;
}

.chat-container-form {
  margin: 0;
}

.chat-container-form-inputs {
  display: inline !important;
  width: 100%;
}

.chat-container-form-inputs-message {
  display: inline-block;
  width: 79% !important;
}

.chat-container-form-inputs-send {
  width: 20%;
  float: right;
}

.col-md-4 .chat-container-form-inputs-message {
  width: 100% !important;
  display: block;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom: none;
}

.col-md-4 .chat-container-form-inputs-send {
  width: 100% !important;
  float: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.chat-container-messages-container {
  height: 200px;
  overflow: scroll;
}

.chat-entry {
  width: 100%;
  border-radius: $border-radius-default;
  border: 1px solid $color-divider;
  margin: $spacing-medium 0;
  background-color: $color-white;
}

.chat-entry-message-body {
  padding: $spacing-small;
  margin: 0;
}

.chat-entry-message-metadata {
  padding: $spacing-tiny $spacing-small;
  margin: 0;
  border-top: 1px solid $color-divider;
  font-size: $font-size-small;
}
