/*
 * This file should be used to modify the defaults for any Bootstrap classes
 * like .btn
 */

.btn {
  border-radius: 4px;
}

hr {
  margin: $spacing-medium 0;
  border-top: 1px solid $color-divider;
}

.nav-tabs > li > a:hover {
  border-radius: 0;
  background-color: $color-divider;
  cursor: pointer;
}
