/*
 * Load all stylesheets and preprocess them into one file in dist/bundle.css
 * New styles must be required here to be included in the bundle.
 */
@import 'styleguide';
@import 'custom';

@import 'navbar';
@import 'landing';
@import 'main';
@import 'sidebar';
@import 'course';
@import 'chart';
@import 'announcement';
@import 'home';
@import 'deadline';
@import 'student';
@import 'tab';
@import 'chat';
