$nav-offset: 80px;

html, body {
  background-color: $color-background;
  font-family: $font-primary;
}

.container-wrapper {
  margin-top: $nav-offset;
}

.main-wrapper {
  @media (max-width: $media-breakpoint-large) {
    margin-top: $spacing-medium;
  }
}

.card {
  background-color: $color-white;
  padding: $spacing-large;
  border: 1px solid $color-divider;
  margin: $spacing-medium 0;
}

.card-clickable:hover {
  border: 1px solid darken($color-divider, .06);
  box-shadow: 1px 1px 1.5px 1.5px rgba(0,0,0,0.06);
  cursor: pointer;
}
