.navbar {
  margin-bottom: 0px;
  border: 0px;
  background-color: $color-white;
  border-radius: 0;
  border-bottom: 1px solid $color-divider;
}

.navbar-logo {
  background-image: url('http://i.imgur.com/IwlGTvq.png');
  background-size: cover;
  height: 25px;
  width: 25px;
  float: left;
  padding: 0;
  margin: $spacing-medium;
  opacity: .9;
}

.navbar-brand {
  font-family: $font-swivel;
  padding-left: 0;
  color: $color-brand !important;
}

.nav-btn {
  float: right;
  background-color: white;
  border: 2px solid #2C3E50;
  font-family: "Nunito", sans-serif;
  color: #2C3E50;
  vertical-align: middle;
  margin: 10px;
}