.navbar {
  margin-bottom: 0px;
  border: 0px;
  background-color: $color-white;
  border-radius: 0;
  border-bottom: 1px solid $color-divider;
}

.navbar-logo {
  background-image: url('http://i.imgur.com/hQznMzZ.png');
  background-size: cover;

  height: 26px;
  width: 32px;
  float: left;
  padding: 0;
  margin: $spacing-medium;
}
.navbar-brand {
  font-family: $font-swivel;
  padding-left: 0;
}
