.navbar {
  margin-bottom: 0px;
  border: 0px;
  background-color: $color-white;
  border-radius: 0;
  border-bottom: 1px solid $color-divider;
  min-height: 56px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
}

.navbar-logo {
  background-image: url('http://i.imgur.com/I8C0PNt.png');
  background-size: cover;
  height: 25px;
  width: 25px;
  float: left;
  padding: 0;
  margin: $spacing-medium;
  opacity: .9;
}

.navbar-brand {
  font-family: $font-swivel;
  padding-left: 0;
  color: $color-brand !important;
}

.navbar-links {
  position: absolute;
  top: 10px;
  right: 10px;
}

.navbar-link {
  color: $color-text-tertiary;
  padding-right: $spacing-xlarge;

  @media (max-width: $media-breakpoint-large) {
    display: none;
  }
}

.navbar-link:hover {
  color: $color-text-secondary;
  text-decoration: none;
}

.btn-nav {
  background-color: white;
  border: 1px solid $color-primary;
  color: $color-primary;
  vertical-align: middle;
}

.btn-nav:hover {
  color: $color-white;
  background-color: $color-primary;
}
