.sidebar-wrapper {
  height: 100%;
  padding: 0px;
  position: relative;
}

.sidebar {
  height: 100%;
  z-index: 1000;
  position: fixed;
  background-color: $color-white;
  width: 25%;
  border-right: 1px solid $color-divider;
}

.sidebar-nav {
  margin: 0;
  padding: 0;
  opacity: .9;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 50px;
}

.sidebar-nav li:hover {
  background-color: darken($color-white, 6%);
}

.sidebar-school {
  text-align: center;
  margin: $spacing-huge auto;
  border: 1px solid $color-divider;
  max-width: 110px;
  height: 110px;
  display: flex;
}

.sidebar-school-logo {
  max-width: 100%;
  padding: 0;
  align-self: center;
}

.sidebar-school-name {
  display: block;
  font-size: $font-size-large;
  font-family: $font-school;
  color: $color-white;
}
