.student-card {
  @extend .card;
  margin: $spacing-large $spacing-tiny;
  padding: 0;
  text-align: center;
  min-height: 245px;
}

.student-card-avatar-container {
  border-bottom: 1px solid $color-divider;
  padding: $spacing-tiny;
  background-image: url('http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/sayagata-400px.png');
  background-size: cover;
}
.student-card-avatar-container-img {
  border: 1px solid $color-divider;
  border-radius: 999px;
  opacity: .85;
  margin: 0 auto;
  max-width: 40%;
  margin: $spacing-large auto;
}

.student-card-info-container {
  padding-top: $spacing-small;
}

.btn-outline {
  @extend .btn-nav;
  padding: $spacing-small;
}

.btn-chat {
  width: 80%;
}

.btn-outline:hover {
  @extend .btn-nav:hover;
}
